{
    "host": "192.168.56.1",
    "port": 8240,
    "platform": "proxy",
    "use_multiple_actions": true,
    "screen_resolution": [6400, 1440],
    "project_root": "C:\\NatLink\\NatLink\\MacroSystem",
    "restrict_proxy_to_aenea_client": false
}
