[formatters]
keys=generic

[formatter_generic]
format=%(asctime)s [%(levelname)-6s] [%(name)-s] %(message)s

[handlers]
keys=file,console

[handler_file]
class=logging.handlers.RotatingFileHandler
formatter=generic
level=DEBUG
args=('%(log_file)s', 'a', 10485760, 3)

[handler_console]
class=StreamHandler
formatter=generic
level=DEBUG
args=(sys.stdout,)

[loggers]
keys=root,server

[logger_server]
level=DEBUG
handlers=file,console
propagate=1
qualname=server

[logger_root]
level=NOTSET
handlers=
propagate=1